@use "../components/"as *;

.p-mvWrap {
    width: min(100% - 80px, $pc-m);
    margin: 0 auto;
    position: relative;
}

.p-mv__imgWrap {
    display: block;
    flex: 1;
    margin-right: calc(50% - 50vw);
    margin-left: 20vw;
}

.r {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $c-assort;
    width: 40%;
    height: 80%;
    transform-origin: 50% 47%;
    border: 1px solid $c-white;
    border-radius: 71% 29% 22% 78% / 62% 67% 33% 38%;
    z-index: 1;
    animation: morphing 3s infinite linear;
    display: grid;
    place-content: center;
    color: $c-white;

    .p-mv__title {
        font-size: 32px;
        letter-spacing: .2em;
        line-height: 1.8;
    }
}



// 回転アニメーション
@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}
