@use "../components/"as *;

// mv
.p-mvWrap {
    width: 100%;
    height: auto;
}

.p-slide {
    width: 100vw;
    height: calc(100vh - $h-pc-h);
    position: relative;
    overflow: hidden;
}

.p-slide__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - $h-pc-h);
    opacity: 0;
    animation: slider-1 24s linear infinite;
    z-index: 0;
}

.p-slide__image:nth-child(1) {
    background-image: image-set(url("#{$only-path}mv1.avif") type("image/avif"),
        url("#{$only-path}mv1.webp") type("image/webp"),
        url("#{$only-path}mv1.png") type("image/png"));
    animation-delay: -2s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.p-slide__image:nth-child(2) {
    background-image: image-set(url("#{$only-path}mv2.avif") type("image/avif"),
        url("#{$only-path}mv2.webp") type("image/webp"),
        url("#{$only-path}mv2.png") type("image/png"));
    animation-delay: 6s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.p-slide__image:nth-child(3) {
    background-image: image-set(url("#{$only-path}mv3.avif") type("image/avif"),
        url("#{$only-path}mv3.webp") type("image/webp"),
        url("#{$only-path}mv3.png") type("image/png"));
    animation-delay: 14s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes slider-1 {
    0% {
        opacity: 0;
    }

    4.16% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    41.66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.p-mv__title {
    color: $c-white;
    @include f-base($fs-c-64, 400);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        color: transparent;
        animation: blur 10s ease-out infinite;
    }

    span:nth-child(1) {
        animation-delay: 0.2s;
    }

    span:nth-child(2) {
        animation-delay: 0.4s;
    }

    span:nth-child(3) {
        animation-delay: 0.6s;
    }

    span:nth-child(4) {
        animation-delay: 0.8s;
    }

}



@keyframes blur {
    0% {
        text-shadow: 0 0 100px #fff;
        opacity: 0;
    }

    5% {
        text-shadow: 0 0 90px #fff;
    }

    15% {
        opacity: 1;
    }

    20% {
        text-shadow: 0 0 0px #fff;
    }

    80% {
        text-shadow: 0 0 0px #fff;
    }

    85% {
        opacity: 1;
    }

    95% {
        text-shadow: 0 0 90px #fff;
    }

    100% {
        text-shadow: 0 0 100px #fff;
        opacity: 0;
    }
}

@-webkit-keyframes blur {
    0% {
        text-shadow: 0 0 100px #fff;
        opacity: 0;
    }

    5% {
        text-shadow: 0 0 90px #fff;
    }

    15% {
        opacity: 1;
    }

    20% {
        text-shadow: 0 0 0px #fff;
    }

    80% {
        text-shadow: 0 0 0px #fff;
    }

    85% {
        opacity: 1;
    }

    95% {
        text-shadow: 0 0 90px #fff;
    }

    100% {
        text-shadow: 0 0 100px #fff;
        opacity: 0;
    }
}


/*スクロールダウン全体の場所*/
.p-front__scrollDown {
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 50px;

    @include tab {
        bottom: 40px;
    }

    /*Scrollテキストの描写*/
    span {
        position: absolute;
        left: -15px;
        top: -15px;
        color: $c-white;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
    }

    /* 線の描写 */
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        height: 30px;
        background: $c-white;
        animation: pathmove 1.4s ease-in-out infinite;
        opacity: 0;
    }
}


/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

// ニュース
.p-front__news__picker {
    position: relative;
    height: 66px;
    background-color: $c-white;
    border-radius: 3em;
    width: min(100% - 40px, 1080px);
    margin: 0 auto;
    border: 1px $c-assort solid;

    @include sp {
        width: min(100% - 0px, 1080px);
        font-size: 16px;
    }

    .sliderbox {
        overflow: hidden;
        width: 100%;
        height: 66px;
    }

    /* 矢印 */
    .prev {
        position: absolute;
        top: 60%;
        right: 40px;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid $c-text;
        border-left: 2px solid $c-text;
        cursor: pointer;
        transform: translateY(-50%) rotate(-45deg);

        &:hover {
            scale: (1.1);
        }
    }

    .next {
        position: absolute;
        top: 40%;
        right: 40px;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid $c-text;
        border-right: 2px solid $c-text;
        cursor: pointer;
        transform: translateY(-50%) rotate(-135deg);

        &:hover {
            scale: (1.1);
        }
    }

}


.sliderlist__item {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;

    @include tab {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .slider__date {
        padding: 0 40px;

        .slider__date__link {
            color: $c-text;
            @include noto-sans-jp($fs-normal, 400);

            &:hover {
                color: $c-accent;
            }

        }

        @include tab {
            padding: 0 20px;
        }
    }

    .slider__text {
        padding: 0 40px;

        .slider__text__link {
            color: $c-text;
            @include noto-sans-jp($fs-normal, 400);

            &:hover {
                color: $c-accent;
            }
        }

        @include sp {
            padding: 0 20px;
        }
    }
}

.wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: 1fr;
    width: 100%;
    max-width: $common-contents-width-pc;
    margin: 0 auto;

    .title {
        grid-column: 1 / 5;
        grid-row: 1;
        position: relative;
        font-size: $fs-c-28;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 1.2;
        z-index: 2;
        background: red;

        span {
            &:not(:first-child) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .images {
        grid-column: 4 / -1;
        grid-row: 1;
        position: relative;

        img,
        source {
            width: 100%;
            height: auto;

            &:not(:first-child) {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.p-front__contactWrap {
    padding: 100px 0 100px;
    display: flex;
}

.p-front__map {
    flex: 1;
    margin-left: calc(50% - 50vw);
    margin-right: 50vw;


    iframe {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16/9;
        border: 2px solid black;
        border-radius: 0 25px 25px 0;
    }
}

.sec-01,
.sec-02,
.sec-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
    // background: linear-gradient(rgb(52, 72, 92), rgb(57, 47, 143));
}


.container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4rem;
    margin-bottom: 50px;
}

.content {
    /* position: relative; */
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

.content .text-box {
    z-index: 20;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

.section-title {
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.media-info {
    width: 400px;
    margin-left: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
}

.media-info li a {
    text-decoration: none;
    color: #fff;
}

.media-info li:not(:last-child) {
    margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    padding-left: 50px;
}

.sec-03 {
    margin-bottom: 100px;
}
