@use "../components/"as *;

// mv
.p-mvWrap {
    width: min(100% - 80px, $pc-m);
    margin: 0 auto;
    position: relative;

    @include tab {
        width: min(100% - 40px, $tab);
    }
}

.p-mv__picture {
    display: block;
    flex: 1;
    margin-right: calc(50% - 50vw);
    margin-left: 20vw;
    aspect-ratio: 16/9;


    @include tab {
        margin-left: 10vw;
    }

    .p-mv__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.splide-outer {
    max-width: 960px;
    margin: auto;
}

.splide__slide img {
    width: 100%;
}

.splide__track {
    max-height: 200px;
}

.p-mv__limp {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $c-assort;
    width: 40%;
    height: 80%;
    transform-origin: 50% 50%;
    border-radius: 71% 29% 22% 78% / 62% 67% 33% 38%;
    border: 3px solid $c-white;
    animation: move 8s linear infinite;
    overflow: hidden;
    z-index: 1;
    display: grid;
    place-content: center;
    color: $c-white;

    @include sp {
        width: 50%;
        height: 95%;
        border: 1px solid $c-white;
    }

    .p-mv__title {
        font-size: $fs-c-28;
        letter-spacing: .15em;
        line-height: 1.8;

        @include tab {
            text-align: center;
        }
    }
}

// アメーバアニメーション
@keyframes move {
    50% {
        border-radius: 70% 20% 59% 41% / 62% 21% 79% 28%;
    }

    75% {
        border-radius: 100% 69% 100% 83% / 68% 99% 53% 93%;
    }
}
